[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
tox = "*"
ipdb = "*"
pudb = "*"
python-language-server = {extras = ["all"], version = "*"}
ipython = "*"

[packages]
uvicorn = "*"
fastapi = "*"
sqlalchemy = "*"
alembic = "*"
databases = "*"
jinja2 = "*"
aiofiles = "*"
pytz = "*"
python-multipart = "*"

[requires]
python_version = "3.8"

[scripts]
start = "uvicorn app.main:app --host 0.0.0.0"
start_proxy = "uvicorn app.main:app --host 0.0.0.0 --proxy-headers --forwarded-allow-ips *"
reload = "uvicorn app.main:app --host 0.0.0.0 --reload"
reload_proxy = "uvicorn app.main:app --host 0.0.0.0 --reload --proxy-headers --forwarded-allow-ips *"
